# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log

# ssh keys
ssh-key-tf
ssh-key-tf.pub

# Infracost
.infracost

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore Terraform dependency lock file
.terraform.lock.hcl
